.nav-bar {
  @apply font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.nav-bar-left {
  @apply mb-2 sm:mb-0;
}

.nav-bar-title {
  @apply flex align-middle text-2xl no-underline text-gray-700 hover:text-gray-800;
  font-family: sfpro_medium;
}

.avatar {
  height: 60px;
  width: 60px;
}

@media (max-width: 640px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
}
